.container-bar{
    margin-top: 2%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, auto);
}

.c0-bar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
}


.c1-bar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
}

.c2-bar{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: auto;
}

.c3-bar{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: auto;
    grid-row-end: auto;
}

.c4-bar{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: auto;
    grid-row-end: auto;
}

.container-c0{
    border-top: 2px solid red;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, auto);
    margin-top: 2%;
}

.c0{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
    width: 30px;
    height: 30px;
    background-image: url("../img/add.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.c1{
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
}

.c2{
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: auto;
}

.c3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: auto;
    grid-row-end: auto;
    background-image: url("../img/corbeille.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ----------- FIN -----------*/


.a-delete {
    display: block;
    width: 25px;
    height: 25px;
}

.a-add {
    display: block;
    width: 25px;
    height: 25px;
}

.c4{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: auto;
    grid-row-end: auto;
}

.c3:hover{
    background-color: #ff0000;
}


.container-title{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, auto);
    margin-top: 1%;
}


.c0-title {
    font-size: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
}


.container-menu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    place-items: center;
    margin-top: 1%;
}

.c0-menu{

}


/* < -------- ADAPTATION POUR TELEPHONE ------------->*/

@media screen and (max-width: 450px) {

    .container-title{
        grid-template-columns: 1fr;

    }


    .c0-title{
        margin-bottom: 5%;
    }

    .c1-bar{
        grid-column: 1;
    }

    .c2-bar{
        grid-column: 1;
    }

    .c3-bar{
        grid-column: 1;
    }
    .c4-bar{
        grid-column: 1;
    }


    .container-bar{
        grid-template-columns: 1fr;
        place-content: center;
        font-size: 30px;
        margin-bottom: 5%;
    }

    .container-menu{
        font-size: 30px;
        margin-bottom: 5%;
    }

    .container-c0{
        grid-template-columns: 1fr;
        font-size: 20px;
    }

    .a-add{
        grid-column: 1;
    }

    .a-delete{
        grid-column: 1;
    }

    .c0{
        grid-column: 1;
    }

    .c1{
        grid-column: 1;
    }
    .c2{
        grid-column: 1;
    }

    .c3{
        grid-column: 1;
    }
}



@media screen
and (max-width: 950px)
and (min-width: 450px) {

    .container-title{
        grid-template-columns: 1fr;
    }

    .container-bar{

        font-size: 30px;

    }

    .container-menu{
        font-size: 30px;
    }

    .container-c0{
        font-size: 20px;
    }
}

@media screen
and (max-width: 1400px)
and (min-width: 480px)
{

    .container-title{
        grid-template-columns: 1fr;
    }

    .container-bar{

        font-size: 30px;

    }

    .container-menu{
        font-size: 30px;
    }

    .container-c0{
        font-size: 20px;
    }



}