.background_user {
    background-image: url("../img/home_userjpg.jpg");
    background-size: cover;
}

.container_user-0 {
    background-color: rgba(255, 246, 255, 0.8);
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    border: solid 1px black;
    height: 100%;
    margin-top: 2%;
}

.container_user-1 {
    display: grid;
    grid-template: "disc ps . jo ." / 1fr 1fr 1fr 1fr 1fr;
}

.container_user-2 {
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template: "pr . ad sh ." / 1fr 1fr 1fr 1fr 1fr;
    border-bottom: black solid 1px;

}

.container_user-3 {
    display: grid;
    grid-template: "rk vt . . ." / 1fr 1fr 1fr 1fr 1fr;
}


.container_user-4 {
    margin-bottom: 2%;
    display: grid;
    grid-template: ". . tl dt d" / 1fr 1fr 1fr 1fr 1fr;
}

.container_user-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}



.menu_user{
    border: black 1px solid;
}

.avatar{
    grid-area: av;
}

.pseudo{
    grid-area: ps;
}

.joined{
    grid-area: jo;
}

.user{
    grid-area: pr;
}

.victory{
    grid-area: vt;
}

.sheet{
    grid-area: sh;
}


.rank{
    grid-area: rk;
}

.title{
    justify-self: center;
    grid-area: tl;
}

.date{
    justify-self: center;
    grid-area: dt;
}

.delete{
    justify-self: center;
    grid-area: d;
}

.disconnect{
    grid-area: disc;
}

.sheet_add {
    font-size: 10px;
    justify-self: center;
}


.sheet-title{
    justify-self: center;
grid-column: 3/4;
}

.sheet-date{
    justify-self: center;
    grid-column: 4/5;
}

.sheet-delete{
    justify-self: center;
    background-image: url("../img/bomb.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    grid-column: 5/6;
}


@media screen and (max-width: 450px) {


    .container_user-0 {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .container_user-1 {
        font-size: 20px;
        display: grid;
        grid-template: "disc ps"
                       "jo ." / 1fr;
    }

    .container_user-2 {
        margin-top: 10%;
        display: grid;
        place-items: center;
        font-size: 25px;
        grid-template: "pr"
                       "ad"
                       "sh" / 1fr;
    }

    .container_user-3 {
        font-size: 25px;
        display: grid;
        grid-template: "rk" "vt";
    }

    .container_user-4 {
        margin-top: 10%;
        font-size: 25px;
        display: grid;
        place-items: center;
        grid-template: "tl"
                       "dt"
                        "d" / 1fr;
    }

    .container_user-5 {
        margin-top: 10%;
        font-size: 25px;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }

    .sheet-title {
        grid-column: 1;
    }

    .sheet-date {
        grid-column: 1;
    }

    .sheet-delete {
        justify-self: center;
        background-image: url("../img/bomb.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 2%;
        width: 25px;
        height: 25px;
        grid-column: 1;
    }
}



@media screen
and (max-width: 950px)
and (min-width: 450px)
{

    .container_user-1 {
        font-size: 30px;
        display: grid;
        grid-template: "disc ps jo" / 1fr 1fr 1fr;
        place-content: center;
    }

    .container_user-3{
        font-size: 30px;
    }

    .container_user-2{
        grid-template: "pr ad sh" / 1fr 1fr 1fr;
    }

    .container_user-4{
        grid-template: "tl dt d" / 1fr 1fr 1fr;
        font-size: 30px;
    }

    .container_user-5{
        grid-template-columns: repeat(3, 1fr);
        font-size: 25px;
    }


    .container_user-0 {
        margin-right: 5%;
        margin-left: 5%;
        padding: 0;
    }

    .sheet-title{
        grid-column: 1/2;
    }

    .sheet-date{
        grid-column: 2/3;
    }

    .sheet-delete{
        grid-column: 3/4;
    }



}

@media screen
and (max-width: 1400px)
and (min-width: 960px)
{
    .container_user-5{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .container_user-4{
        grid-template: "tl dt d" / 1fr 1fr 1fr;
        font-size: 30px;
    }
    .container_user-0 {
        margin-right: 5%;
        margin-left: 5%;
        padding: 0;
        font-size: 25px;
    }

.sheet-title{
    grid-column: 1/2;
}

    .sheet-date{
        grid-column: 2/3;
    }

.sheet-delete{
    grid-column: 3/4;
}




}
