.background_user {
    background-image: url("../img/home_userjpg.jpg");
    background-size: cover;
}

.container_user-0 {
    background-color: rgba(255, 246, 255, 0.8);
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    border: solid 1px black;
    height: 100%;
}

.container_user-1 {
    display: grid;
    grid-template: "disc ps . jo ." / 1fr 1fr 1fr 1fr 1fr;
}

.container_user-2 {
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template: "pr . ad sh ." / 1fr 1fr 1fr 1fr 1fr;
    border-bottom: black solid 1px;

}

.container_user-3 {
    display: grid;
    grid-template: "rk vt . . ." / 1fr 1fr 1fr 1fr 1fr;
}


.container_user-4 {
    margin-bottom: 2%;
    display: grid;
    grid-template: ". . tl dt d" / 1fr 1fr 1fr 1fr 1fr;
}

.container_user-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}



.menu_user{
    border: black 1px solid;
}

.avatar{
    grid-area: av;
}

.pseudo{
    grid-area: ps;
}

.joined{
    grid-area: jo;
}

.user{
    grid-area: pr;
}

.victory{
    grid-area: vt;
}

.sheet{
    grid-area: sh;
}


.rank{
    grid-area: rk;
}

.title{
    justify-self: center;
    grid-area: tl;
}

.date{
    justify-self: center;
    grid-area: dt;
}

.delete{
    justify-self: center;
    grid-area: d;
}

.disconnect{
    grid-area: disc;
}

.sheet_add {
    font-size: 10px;
    justify-self: center;
    grid-area: ad;
}


.sheet-title{
    justify-self: center;
grid-column: 3/4;
}

.sheet-date{
    justify-self: center;
    grid-column: 4/5;
}

.sheet-delete{
    justify-self: center;
    background-image: url("../img/bomb.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 25px;
    height: 25px;
    grid-column: 5/6;
}


@media screen and (max-width: 450px) {

    .container_user-0{
        margin-right: 0;
        margin-left: 0;
    }

    .container_user-1 {
        display: grid;
        grid-template: "disc . ps . jo ." / 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .container_user-2 {
        margin-top: 10%;
        font-size: 15px;
        grid-template: "pr . ad . . sh " / 1fr 1fr ;
    }

    .container_user-4 {
        margin-top: 10%;
        display: grid;
        grid-template: "tl tl dt dt d " / 1fr 1fr 1fr 1fr 1fr;
    }

    .container_user-5{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .sheet-title{

        grid-column: 1/3;
    }

    .sheet-date{
        grid-column: 3/5;
    }

    .sheet-delete{
        justify-self: center;
        background-image: url("../img/bomb.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 25px;
        height: 25px;
        grid-column: 5/6;
    }

    .disconnect{
        font-size: 15px;
    }

}
