.container_user{
    position: relative;
    margin-right: 20%;
    margin-left: 20%;
    display: grid;
    border: black 1px solid;


    grid-template-areas:
            "av ps jo . ."
            "pr . . sh ."
            "rk . tl dt d"
            "vt . st sd sdl";
}


.background_user{
}

.avatar{
    grid-area: av;
}

.pseudo{
    grid-area: ps;
}

.joined{
    grid-area: jo;
}

.user{
    grid-area: pr;
}

.victory{
    grid-area: vt;
}

.interest{
    grid-area: it;
}

.sheet{
    grid-area: sh;
}


.rank{
    grid-area: rk;
}

.title{
    grid-area: tl;
}

.date{
    grid-area: dt;
}

.delete{
    grid-area: d;
}


.sheet-title{
    grid-area: st
}

.sheet-date{
    grid-area: sd
}

.sheet-delete{
    grid-area: sdl
}




